body {
  width: 100vw;
  height: 100vw;
}

.inner > i {
  display: none;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .inner > ul {
    display: none;
  }

  .inner > i {
    display: block;
  }

  header > .inner {
    max-width: 500px;
  }
}
