main {
  margin-top: 180px;
  width: 100vw;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.container > .box {
  background-color: white;
  border-radius: 10px;

  width: 560px;
  height: 150px;
  padding: 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > .box:hover {
  cursor: pointer;
  background-color: var(--secondary--color);
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  align-content: space-between;
}

.name {
  font-size: var(--font-size-normal);
  font-weight: bold;
}

.review {
  font-size: var(--font-size-small);

  display: flex;
  gap: 10px;
}

.box > .clinic_img {
  background-color: var(--third--color);
  width: 120px;
  height: 120px;
}

.goodoc_receipt {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.goodoc_receipt > img {
  width: 100%;
}
